<%- include("header") -%>
<body>
    <div class="box" id="heading">
    <h1> Its a <%= title %></h1>
    </div>

    <div class="box">
        
       <% newItems.forEach(function(item){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= item.name%></p>
            </div>
        <% }) %>
            
        
        

        <form action="/" method="POST" class="item">
            <input type="text" name="task" placeholder="Add a task" autocomplete="off">
            <button type="submit" name="list" value="<%= title %>">+</button>
        </form>
    
    </div>
    
</body>

<%- include("footer") -%>