<%- include("header") -%>
<body>
    <div class="box" id="heading">
    <h1>TODAY</h1>
    <h4> <%= title %></h4>
    </div>

    <div class="box">
        
       <% newItems.forEach(function(item){ %>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="delItem" value="<%= item._id %>" onchange="this.form.submit()">
                <p><%= item.name%></p>
            </div>
        </form>
            
        <% }) %>
            

        <form action="/" method="POST" class="item">
            <input type="text" name="task" placeholder="Add a task" autocomplete="off">
            <button type="submit" name="list" value="<%= title %>">+</button>
        </form>
    
    </div>
    
</body>

<%- include("footer") -%>